<div *ngIf="profile" class="container">
    <div class="profile">
        <img src="{{profile.avatar_url}}" width="250"/>
        <h2>{{profile.name}}</h2>
        <h3>{{profile.login}}</h3>
        <p>{{profile.bio}}</p>
        <p>Followers: {{profile.followers}}</p>
        <p>Following: {{profile.following}}</p>
        <p>Public Repos: {{profile.public_repos}}</p>
        <a href="{{profile.html_url}}" target="__blank">View Github</a>
    </div>
    <div class="repo">
        <div *ngIf="repo" class="repo-container">
            <div class="wrapper">
                <div *ngFor="let rep of repo.slice(0,12)" class="repo-item">
                    <h3><a href="{{rep.html_url}}" target="__blank">{{rep.name}}</a></h3>
                    <div>
                        <p>{{rep.description}}</p>
                        <p>{{rep.language}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
