.container {
    display: flex;
    gap: 1rem;
    height: 70vh;
    overflow-y: auto; 
    justify-content: center;
}

.profile {
    width: 16%;
    /* background-color: rgba(0,0,0, 0.2); */
    min-width: 16%;
}

.no-repo {
    width: 100%;
    overflow-x: hidden;
}

.one-repo {
    width: 100%;
}

.one-repo-container {
    width: 40rem;
    height: 20%
}

.one-container {
    width: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.profile img {
    border-radius: 100%;
    transition: transform 0.5 ease;
}

.profile img:hover {
    animation: spin 5s linear infinite;
}


.profile h3 {
    color: rgb(124, 124, 124);
}

.button a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border:none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button a:hover {
    background-color: #0056b3; /* Darker background on hover */
}

.repo {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    /* background-color: rgba(0,0,0, 0.2); */
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.repo-container {
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content:space-between;
    height: 100%;
    
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;

    
  }


.repo-item {
    width: 45%;
    border: 1px solid rgba(83, 83, 83, 0.5);
    border-radius: 8px;
    margin: 5px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repo-item:hover {
    background-image: linear-gradient(rgb(255 255 255/15%) 0 0);
}

.repo-item a {
    text-decoration: none;
    color: #538edb;
}

.repo-item h3 {
    color: #538edb;
}
